.card-container{
    color: azure;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;

    
}

.card-header{
    margin-top: 360px;
    text-align: center;
}

.first_card{

    background-color: #49378f;
    border-radius: 18px;
    padding: 25px;
    width: 25%;
}

.head_firstcard{
    font-size: 2rem;
}

.content_firstcard{
    margin-top: 20px;
    text-align: justify;

}


